<div class="flex items-center justify-center min-h-screen bg-slate-800">
  <!-- start: card container -->
  <div
    class="flex flex-col my-6 space-y-6 md:space-y-0 md:space-x-6 md:flex-row md:my-0"
  >
    <!-- start: basic card -->
    <div
      class="text-white rounded-2xl border-8 border-slate-700 hover:border-violet-800 cursor-pointer"
    >
      <div class="px-6 pb-12 pt-6 border-b-2 border-slate-700 text-center">
        <div class="uppercase">Basic</div>
        <div class="text-5xl font-serif pt-9">100GB</div>
        <div class="pb-6">$1.99/month</div>
        <button
          class="text-center border border-violet-800 rounded-lg px-12 py-3 hover:bg-violet-800 cursor-pointer"
        >
          Purchase
        </button>
      </div>
      <div class="text-center p-6 leading-8 tracking-wider">
        <div>100 GB storage</div>
        <div>Option to add members</div>
        <div>Extra member benefits</div>
      </div>
    </div>
    <!-- end: basic card -->

    <!-- start: standard card -->
    <div
      class="text-white rounded-2xl border-8 border-slate-700 hover:border-violet-800 cursor-pointer"
    >
      <div class="px-6 pb-12 pt-6 border-b-2 border-slate-700 text-center">
        <div class="uppercase">standard</div>
        <div class="text-5xl font-serif pt-9">200GB</div>
        <div class="pb-6">$3.99/month</div>
        <button
          class="text-center border border-violet-800 rounded-lg px-12 py-3 hover:bg-violet-800 cursor-pointer"
        >
          Purchase
        </button>
      </div>
      <div class="text-center p-6 leading-8 tracking-wider">
        <div>200 GB storage</div>
        <div>Option to add members</div>
        <div>Extra member benefits</div>
      </div>
    </div>
    <!-- end: standard card -->

    <!-- start: premium card -->
    <div
      class="text-white rounded-2xl border-8 border-slate-700 hover:border-violet-800 cursor-pointer"
    >
      <div class="px-6 pb-12 pt-6 border-b-2 border-slate-700 text-center">
        <div class="uppercase">premium</div>
        <div class="text-5xl font-serif pt-9">2TB</div>
        <div class="pb-6">$8.99/month</div>
        <button
          class="text-center border border-violet-800 rounded-lg px-12 py-3 hover:bg-violet-800 cursor-pointer"
        >
          Purchase
        </button>
      </div>
      <div class="text-center p-6 leading-8 tracking-wider">
        <div>2 TB storage</div>
        <div>Option to add members</div>
        <div>Extra member benefits</div>
      </div>
    </div>
    <!-- end: premium card -->
  </div>
  <!-- end: card container -->
</div>
